<!-- folder Table -->
<div class="overflow-x-auto mt-5 pb-5">
  <h1 class="pl-3">
    - <%= folder.name %> -
  </h1>
  <table class=" table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 2 -->
      <% if (folder) { %>
        <% folder.childFolder.forEach((folder, index)=> { %>
          <tr class="hover:bg-base-300">
            <td class="flex items-center gap-2 cursor-pointer" onclick="row( '<%- folder.id %>')">
              <%- include("../partials/folder-icon") %>
                <%= folder.name %>
            </td>
            <td>
              <button class="cursor-pointer">
                <%- include("../partials/more-icon-folder", {folderId: folder.id}) %>
              </button>
            </td>
          </tr>
          <% }) %>

            <% folder.file.forEach(file=> { %>
              <tr class="hover:bg-base-300 cursor-pointer">
                <td class="flex items-center gap-2">
                  <%- include("../partials/file-icon") %>
                    <%= file.name %>
                </td>
                <td>
                  <button class="cursor-pointer">
                    <%- include("../partials/more-icon-file", {fileId: file.id}) %>
                  </button>
                </td>
              </tr>
              <% }) %>
                <% } %>


    </tbody>
  </table>
</div>