<!-- folders Table -->
<div class="overflow-x-auto pb-5">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 2 -->
      <% mainFolderAndFile.folder.forEach(fold=> { %>
        <tr class="hover:bg-base-300">
          <td class="flex items-center gap-2 cursor-pointer" onclick="row( '<%-fold.id %>' )">
            <%- include("../partials/folder-icon") %>
              <%= fold.name %>
          </td>
          <td>
            <button class="cursor-pointer">
              <%- include("../partials/more-icon-folder") %>
            </button>
          </td>
        </tr>

        <% }) %>

          <% mainFolderAndFile.file.forEach(_file=> { %>
            <tr class="hover:bg-base-300">
              <td class="flex items-center gap-2">
                <%- include("../partials/file-icon") %>
                  <%= _file.name %>
              </td>
              <td>
                <button class="cursor-pointer">
                  <%- include("../partials/more-icon-file", {fileId: _file.id}) %>
                </button>
              </td>
            </tr>

            <% }) %>
    </tbody>
  </table>
</div>