<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <div class="flex flex-col h-screen">
    <!-- modal -->
    <% if (mainFolderAndFile && !folder) { %>
      <%- include("components/folderModal") %>
        <% } else { %>
          <%- include("components/childFolderModal") %>
            <% } %>
              <%- include("components/fileModal") %>
                <!-- navbar -->
                <%- include("components/nav") %>

                  <div class="grow p-4">
                    <!-- new btn -->
                    <%- include("components/newBtn") %>

                      <% if (mainFolderAndFile && !folder) { %>
                        <%- include("table/foldersTable") %>
                          <% } else { %>
                            <%- include("table/childFolderTable") %>
                              <% } %>
                  </div>
                  <!-- footer -->
                  <%- include("components/footer") %>
  </div>



  <script>

    const dialog = document.querySelector("#my_modal_1");
    const dialogFile = document.querySelector("#my_modal_2");


    function closeDialog() {
      dialog.close();
    }

    function closeDialogFile() {
      dialogFile.close();
    }

    function row(folderId) {
      window.location.href = `/home/${folderId}/folder`

      console.log("row clicked")
    }

    /* delete specific file  */
    const delFileBtn = document.querySelectorAll(".del-file-btn");

    delFileBtn.forEach((btn, index) => {
      btn.addEventListener("click", async (e) => {

        e.preventDefault();

        const fileId = btn.getAttribute("data-file-id");

        console.log(fileId);

        try {
          const result = await fetch(`/home/${fileId}/delete-file`, {
            method: "POST"
          });

          location.reload();

        } catch (error) {
          console.error(error)
        }


      });
    });
    /* --- */

    /* del specific folder along with its subfolder and files */
    const delFolderBtn = document.querySelectorAll(".del-folder-btn");

    delFolderBtn.forEach(btn => {
      btn.addEventListener("click", async (e) => {

        e.preventDefault();

        const folderId = btn.getAttribute("data-folder-id");

        console.log("Folder id:", folderId);

        try {
          const result = await fetch(`/home/${folderId}/delete-folder`, {
            method: "POST"
          });

          location.reload();

        } catch (error) {
          console.error(error)
        }

      });
    });


    /*  */
  </script>
</body>

</html>